---
import { getCollection } from '../../utils/getCollection';
import Prose from '../../components/Prose.astro';
import TocNav from '../../components/TocNav.vue';
import BaseLayout from '../../layouts/BaseLayout.astro';
import customComponents from '../../utils/customComponents';
import H2 from '../../components/H2.astro';

export async function getStaticPaths() {
  const guides = await getCollection('guides');
  return guides.map(entry => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();
const previewImg = entry.data.img || '/default-cover.jpg';
const { title, description } = entry.data;
---
<BaseLayout title={title} description={description} img={previewImg}>
  <div class="relative mx-auto xl:mx-0">
    <div class="flex w-full justify-center">
      <div class="flex grow justify-center">
        <div class="min-w-0 max-w-3xl flex-auto px-8 pb-16 pt-8">
          <article>
            <Prose>
              <header class="mb-9 space-y-1" >
                <p class="type-overline text-content-primary" >
                  Guides
                </p>
                <h1>
                  { title }
                </h1>
              </header>
              <Content components={{ ...customComponents, h2: H2 }}/>
            </Prose>
          </article>
        </div>
      </div>
      <div class="hidden xl:flex xl:w-80">
        <div class="hidden overflow-y-auto border-none xl:sticky xl:right-28 xl:top-16 xl:block xl:h-[calc(100vh-10rem)] xl:py-8">
          <TocNav client:load headings={headings} />
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
