@layer components {

  .btn,
  button {
    @apply
      rounded-full
      p-squish-2
      focus:outline-none
      focus:ring-2
      ring-focus-ring
      flex items-center
      space-x-2
    ;
    cursor: pointer;
    /*
     * Ripple Effect
     * https://codepen.io/finnhvman/pen/jLXKJw
     */
    background-position: center;
    transition: background 0.3s;
  }

  .btn-primary:disabled,
  .btn-primary:disabled:hover,
  .btn-primary:disabled:active,
  .btn-secondary:disabled,
  .btn-secondary:disabled:hover,
  .btn-secondary:disabled:active,
  .btn-tertiary:disabled,
  .btn-tertiary:disabled:hover,
  .btn-tertiary:disabled:active,
  .btn-warning:disabled,
  .btn-warning:disabled:hover,
  .btn-warning:disabled:active,
  .btn-positive:disabled,
  .btn-positive:disabled:hover,
  .btn-positive:disabled:active {
    @apply text-content-disabled;
    cursor: default;
    /* Suppress ripple effect */
    background: theme('colors.surface-disabled');
  }

  .btn-primary {
    @apply
      bg-interactive-primary
      text-content-on-color
    ;
  }

  .btn-secondary {
    @apply
      bg-interactive-secondary
      text-content-on-color
    ;
  }

  .btn-tertiary {
    @apply
      bg-interactive-tertiary
      text-content-primary
    ;
  }

  .btn-warning {
    @apply
    transition
    duration-300
    ease-in-out
    text-content-negative
    bg-surface-negative-light
  }

  .btn-warning:hover {
    @apply
    text-content-inverse-primary
    bg-surface-negative
    ;
  }

  .btn-positive {
    @apply
    transition
    duration-300
    ease-in-out
    text-content-positive
    bg-surface-positive-light
  }

  .btn-positive:hover {
    @apply
    text-content-inverse-primary
    bg-surface-positive
    ;
  }

  @media (hover: hover) {
    .btn-primary:hover {
      /* Ripple Effect */
      background: theme('colors.interactive-primary-hover') radial-gradient(circle, transparent 1%, theme('colors.interactive-primary-hover') 1%) center/15000%;
    }

    .btn-secondary:hover {
      /* Ripple Effect */
      background: theme('colors.interactive-secondary-hover') radial-gradient(circle, transparent 1%, theme('colors.interactive-secondary-hover') 1%) center/15000%;
    }

    .btn-tertiary:hover {
      /* Ripple Effect */
      background: theme('colors.interactive-tertiary-hover') radial-gradient(circle, transparent 1%, theme('colors.interactive-tertiary-hover') 1%) center/15000%;
    }
  }

  .btn-primary:active {
    @apply bg-interactive-primary;
  }

  .btn-secondary:active {
    @apply bg-interactive-secondary;
  }

  .btn-tertiary.active,
  .btn-tertiary:active {
    @apply
      bg-interactive-tertiary
      ring-2
      ring-content-primary
    ;
  }

  .btn-primary:active,
  .btn-secondary:active,
  .btn-tertiary:active {
    background-size: 100%;
    transition: background 0s;
    @apply bg-opacity-90;
  }

  .btn-xs {
    @apply
      type-overline
      p-squish-1
      space-x-1
    ;
  }

  .btn-xl {
    @apply
      text-xl
      p-squish-4
      space-x-4
    ;
  }

  button .icon {
    @apply icon-md;
  }

  .btn-xs .icon {
    @apply icon-sm;
  }

  .btn-xl .icon {
    @apply icon-lg;
  }

  .btn-full-width {
    @apply
      w-full
      flex
      justify-center
      items-center
    ;
  }

  button .icon-center {
    @apply icon-center-md;
  }

  .btn-xs .icon-center {
    @apply icon-center-sm;
  }

  .btn-xl .icon-center {
    @apply icon-center-lg;
  }

  .btn-item {
    @apply
      cursor-pointer
      w-full
      h-14
      flex
      justify-center
      items-center
      flex-col
      space-y-1
    ;
  }

  @media (hover: hover) {
    .btn-item:hover {
      @apply text-interactive-primary-hover;
    }

    .btn-item:hover span {
      @apply bg-interactive-primary-hover;
    }
  }
}
