@layer components {
  .page-container {
    @apply
      py-12 /* Adds padding for bottom and top bar */
      desktop-gutters
      flex
      flex-col
      min-h-screen
    ;
    /* Extra padding for iOS full view port mode */
    padding-bottom: calc(env(safe-area-inset-bottom) + 3rem);
  }

  .bottom-bar-padding {

    /* Extra padding for iOS full view port mode */
    padding-bottom: calc(3.5rem + calc(env(safe-area-inset-bottom) + 3rem));
  }

  .bottom-bar-padding-9 {
    /* Extra padding for iOS full view port mode */
    padding-bottom: calc(9rem + calc(env(safe-area-inset-bottom) + 3rem));
  }

  .bottom-bar-padding-double {
    /* Extra padding for iOS full view port mode */
    padding-bottom: calc(6.5rem + calc(env(safe-area-inset-bottom) + 3rem));
  }

  /* Add extra padding to bottom when using PWA */
  @media (display-mode: standalone) {
    .page-container {
      padding-bottom: 1rem;
    }

    .bottom-bar-padding {
      padding-bottom: 4.5rem
    }

    .bottom-bar-padding-9 {
      padding-bottom: 10.5rem
    }

    .bottom-bar-padding-double {
      padding-bottom: 7.5rem
    }
  }
}
