@layer components {
  input,
  input[type="tel"],
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  textarea {
    @apply
      rounded-full
      border-outline-opaque
      border-2
      border-solid
      focus:bg-surface-primary
      focus:ring-outline-selected
      focus:border-outline-selected
      focus:placeholder-opacity-0
      flex
      placeholder-content-tertiary
      focus:text-content-secondary
      type-body-2
      bg-surface-primary
      p-squish-2
    ;
    cursor: auto;
  }

  input[type="tel"],
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  textarea {
    @apply
      mt-1
    ;
  }

  input[type='number'] {
    @apply
      pl-6
      text-content-tertiary
    ;
  }

  textarea {
    @apply
      border-transparent
      rounded-2xl
      ring-2
      ring-outline-transparent
      focus:ring-outline-selected
      focus:border-outline-selected
    ;
  }

  input:focus-visible, textarea:focus-visible {
    outline: none;
  }

  input[type="checkbox"] {
    @apply
      bg-surface-primary
      border-outline-opaque
      rounded
    ;
  }

  input[type="checkbox"]:focus {
    @apply
      ring-focus-ring
      ring-2
      ring-offset-2
      ring-offset-white
    ;
  }

  input[type="checkbox"]:hover {
    @apply
      border-outline-selected
    ;
  }

  input[type="checkbox"]:checked {
    @apply
      bg-interactive-secondary
      border-interactive-secondary
    ;
  }

  input[type="checkbox"]:checked:focus {
    @apply
      bg-interactive-secondary
      border-interactive-secondary-hover
    ;
  }

  input[type="checkbox"]:checked:hover {
    @apply
      bg-interactive-secondary
      border-outline-accent
    ;
  }

  input:disabled {
    @apply
      bg-surface-disabled
      text-content-disabled
      border-content-disabled
    ;
    cursor: default;
  }

  .input-full-width {
    @apply w-full;
  }

  .input-sm {
    @apply
      flex-grow
      w-16
      text-center
    ;
  }

  .input-error-text {
    @apply
      text-xs
      text-surface-negative
      pb-4
      h-3
    ;
  }

  input.invalid {
    @apply border-outline-negative;
  }
}
