@layer components {
  select {
    @apply
      rounded-full
      border-outline-opaque
      border-2
      border-solid
      focus:outline-none
      focus:border-outline-selected
      focus:placeholder-opacity-0
      focus:ring-1
      focus:ring-offset-2
      focus:ring-focus-ring
      flex
      text-content-primary
      type-body-2
      bg-surface-primary
      pr-8
    ;
    cursor: auto;
  }

  select.invalid {
    @apply border-outline-negative;
  }
}
