---
import BaseLayout from '../layouts/BaseLayout.astro';
import navigation from '../navigation/guideNavigation';
---

<BaseLayout navigation={navigation}>
  <div class="flex h-full flex-col items-center justify-center gap-6 px-16 py-8">
    <div class="flex flex-col items-center gap-2">
      <p class="type-body-2 font-bold text-content-accent">
        404
      </p>
      <h1 class="type-headline-2 text-gray-900">
        Page not found
      </h1>
      <p class="text-content-tertiary">
        Sorry, we couldn’t find the page you’re looking for.
      </p>
    </div>
    <div class="flex flex-row items-center gap-2">
      <a href="/">
        <button
          class="flex items-center rounded-md border border-gray-200 bg-interactive-primary px-4 py-2 hover:bg-interactive-primary-hover"
        >
          <span class="type-caption-2 text-content-inverse-primary">
            Go back home
          </span>
        </button>
      </a>
      <button
        id="freshdesk-contact-support-button"
        type="button"
        class="flex rounded-md border border-gray-200 bg-interactive-tertiary px-4 py-2 hover:bg-interactive-tertiary-hover"
      >
        <span class="type-caption-2 text-content-tertiary">
          Contact support
        </span>
      </button>
    </div>
  </div>
</BaseLayout>
