---
import { getCollection } from '../../utils/getCollection';
import { render } from 'astro:content';
import Prose from '../../components/Prose.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import navigation from '../../navigation/apiNavigation';

export async function getStaticPaths() {
  const api = await getCollection('api');
  return api.map(entry => ({
    params: { id: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
const previewImg = entry.data.img || '/default-cover.jpg';
const { title, description } = entry.data;
---
<BaseLayout title={title} description={description} img={previewImg} navigation={navigation}>
  <div class="relative mx-auto flex w-full max-w-6xl justify-center">
    <div class="min-w-0 flex-auto p-8">
      <article>
        <Prose>
          <header>
            <h1>
              { title }
            </h1>
          </header>
          <Content />
        </Prose>
      </article>
    </div>
  </div>
</BaseLayout>
