---
import { getCollection } from '../../utils/getCollection';
import Prose from '../../components/Prose.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import customComponents from '../../utils/customComponents';
import ApiH2 from '../../components/ApiH2.astro';
import navigation from '../../navigation/apiNavigation';

export async function getStaticPaths() {
  const api = await getCollection('api');
  return api.map(entry => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const previewImg = entry.data.img || '/default-cover.jpg';
const { title, description } = entry.data;
---
<BaseLayout title={title} description={description} img={previewImg} navigation={navigation}>
  <div class="desktop-gutters relative mx-auto flex justify-center">
    <div class="min-w-0 flex-auto p-8">
      <article>
        <Prose>
          <header>
            <h1>
              { title }
            </h1>
          </header>
          <Content components={{ ...customComponents, h2: ApiH2 }}/>
        </Prose>
      </article>
    </div>
  </div>
</BaseLayout>
