---
import { getCollection } from '../../utils/getCollection';
import Prose from '../../components/Prose.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import customComponents from '../../utils/customComponents';
import ApiH2 from '../../components/ApiH2.astro';
import H3 from '../../components/H3.astro';

export async function getStaticPaths() {
  const api = await getCollection('api');
  return api.map(entry => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();
const previewImg = entry.data.img || '/default-cover.jpg';
const { title, description } = entry.data;
---
<BaseLayout title={title} description={description} img={previewImg}>
  <div class="desktop-gutters relative mx-auto flex justify-center">
    <div class="min-w-0 max-w-2xl flex-auto px-8 pb-16 pt-8 lg:max-w-none xl:pt-16">
      <article>
        <header class="mb-9 space-y-1" >
          <h1
            class="type-headline-2"
          >
            { title }
          </h1>
        </header>
        <Prose>
          <Content components={{ ...customComponents, h2: ApiH2, h3: H3 }}/>
        </Prose>
      </article>
    </div>
  </div>
</BaseLayout>
