---
import AnchorLink from './icons/AnchorLink.vue';
const { id } = Astro.props;
---

<div class="not-prose">
  <a href=`#${id}` class="group relative flex items-center">
    <AnchorLink class="absolute right-full mr-2 size-4 opacity-0 group-hover:opacity-100" />
    <h2
      id={id}
      class="type-headline-4 my-4 flex scroll-mt-32 flex-wrap gap-1"
    >
      <slot/>
    </h2>
  </a>
</div>
