---
const { type } = Astro.props;
const href = `/api/data-types#${type.toLowerCase()}`;
---
<dt class="sr-only">Type</dt>
<dd class="font-mono text-xs text-zinc-400 dark:text-zinc-500">
  <a href={href}>{type}</a>
</dd>
