---
import PrimarySidebarDisclosure from './PrimarySidebarDisclosure.vue';
import PageLinks from './PageLinks.vue';
const { path, navigation } = Astro.props;
---
<div
  id="sidebar"
  class="hidden md:fixed md:flex md:h-full md:w-64 md:flex-col xl:w-80"
>
  <div id="sidebar-content" class="mt-16 flex grow flex-col overflow-y-auto border-r border-gray-200 bg-white py-5">
    <nav
      class="space-y-1 px-4"
      aria-label="Sidebar"
    >
      <ul role="menubar">
        {
          navigation.items.map((section) => (
            section.children?.length ?
              <PrimarySidebarDisclosure
                client:load
                navigationItem={section}
                path={path}
              /> :
              <PageLinks
                client:load
                navigationItem={section}
                path={path}
                level="1"
              />
          ))
        }
      </ul>
    </nav>
  </div>
</div>

<script is:inline>
  const leftSidebar = document.querySelector('#sidebar > #sidebar-content');
  const leftSidebarScroll = localStorage.getItem('sidebar-scroll');

  if (leftSidebarScroll !== null) {
    const scroller = leftSidebarScroll > 1000 ? 1000 : leftSidebarScroll;
    leftSidebar.scrollTop = parseInt(scroller, 10);
  }

  window.addEventListener('beforeunload', () => {
    localStorage.setItem('sidebar-scroll', leftSidebar.scrollTop);
  });
</script>
