---
import Badge from './Badge.astro';

const { method, path } = Astro.props;
---

<div>
  <div class="flex items-center gap-x-3">
    <Badge type={method} />
    <span class="text-xs text-zinc-400">{ path }</span>
  </div>
</div>
