---
import Card from '../components/Card.astro';
const { img, title, description, href } = Astro.props;
const previewImg = img || '/default-cover.svg';
---
<Card>
  <a href={href}>
    <div class="h-32 overflow-hidden rounded-t">
      <img class='object-cover h-full w-full transition-transform ease-in duration-200' src={previewImg}>
    </div>

    <div class="space-y-4 p-4 hover-parent">
      <h3 class="type-headline-4 hover-child link-text">{title}</h3>
      <p class="type-body-2">{description}</p>
    </div>
  </a>
</Card>

<style>
  a:hover .link-text {
    @apply underline;
  }
  a:hover img {
    @apply scale-105;
  }
</style>
