---
import XLogo from './icons/XLogo.astro';
import LinkedInLogo from '../components/icons/LinkedInLogo.astro';
import GithubLogo from './icons/GithubLogo.astro';

const year = new Date().getFullYear();
---
<footer class="mt-auto bg-surface-tertiary">
  <div class="desktop-gutters mx-auto px-6 py-8 md:flex md:items-center md:justify-between lg:px-8">
    <div class="flex space-x-6 md:order-2">
      <a
        href="https://x.com/centrapay"
        target="_blank"
        class="text-interactive-secondary hover:text-interactive-secondary-hover"
      >
        <span class="sr-only">X Social Media</span>
        <XLogo
          class="inline-block size-5"
          aria-hidden="true"
        />
      </a>
      <a
        href="https://www.linkedin.com/company/centrapay"
        target="_blank"
        class="text-interactive-secondary hover:text-interactive-secondary-hover"
      >
        <span class="sr-only">LinkedIn</span>
        <LinkedInLogo
          class="inline-block size-5"
          aria-hidden="true"
        />
      </a>
      <a
        href="https://github.com/centrapay"
        target="_blank"
        class="text-interactive-secondary hover:text-interactive-secondary-hover"
      >
        <span class="sr-only">GitHub</span>
        <GithubLogo
          class="inline-block size-5"
          aria-hidden="true"
        />
      </a>
    </div>
    <p class="mt-8 text-xs leading-5 text-content-primary md:order-1 md:mt-0">
      © {year} Centrapay - All rights reserved.
    </p>
  </div>
</footer>
