---
import AnchorLink from './icons/AnchorLink.vue';
const { id } = Astro.props;
---

<a href=`#${id}` class="group flex items-center relative">
  <AnchorLink class="w-4 h-4 mr-2 mt-10 absolute right-full opacity-0 group-hover:opacity-100" />
  <h2
    id={id}
    class="w-full"
  >
    <slot/>
  </h2>
</a>
