---
const { href } = Astro.props;

const target = href.startsWith('/') || href.startsWith('#')
  ? '_self'
  : '_blank';
---
<a
  href={href}
  target={target}
  class="not-prose inline-flex items-center justify-center font-medium text-interactive-primary underline hover:text-interactive-secondary-hover"
>
  <slot />
</a>
