---
import InfoIcon from './icons/InfoIcon.astro';
---

<div class="not-prose my-5 flex p-5 space-x-5 bg-surface-secondary rounded-lg">
  <InfoIcon class="icon-md text-content-secondary w-6 h-6" />
  <div class="text-content-tertiary m-0 text-sm leading-5 font-normal flex-1">
    <slot />
  </div>
</div>
