---
const { title } = Astro.props;
---
<header
  class="not-prose relative overflow-hidden bg-[url('/payap-background.png')] bg-cover"
>
  <div class="relative flex flex-col max-w-6xl mx-auto w-full px-8 py-14 gap-6">
    <div class="flex items-center gap-4 flex-wrap">
      <svg width="124" viewBox="0 0 1196 214" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g>
          <path d="M158.094 67.802V48.4565C158.094 45.4439 155.683 43 152.711 43H112.06C109.088 43 106.677 45.4439 106.677 48.4565V69.616C106.677 72.628 109.088 75.072 112.06 75.072H150.675C154.636 75.072 157.848 78.328 157.848 82.343V99.636C157.848 103.652 154.636 106.907 150.675 106.907H105.838C101.877 106.907 98.666 103.652 98.666 99.636V80.477C98.666 77.465 96.255 75.021 93.283 75.021H44.866C41.894 75.021 39.483 77.465 39.483 80.477V99.705C39.483 103.72 36.272 106.975 32.311 106.975H13.383C10.411 106.975 8 109.419 8 112.432V133.471C8 136.484 10.411 138.928 13.383 138.928H32.277C36.238 138.928 39.45 142.183 39.45 146.198V165.543C39.45 168.556 41.861 171 44.833 171H85.484C88.456 171 90.867 168.556 90.867 165.543V144.384C90.867 141.372 88.456 138.928 85.484 138.928H46.695C42.734 138.928 39.522 135.672 39.522 131.657V114.364C39.522 110.348 42.734 107.093 46.695 107.093H91.491C95.452 107.093 98.663 110.348 98.663 114.364V133.523C98.663 136.535 101.074 138.979 104.046 138.979H152.462C155.434 138.979 157.845 136.535 157.845 133.523V114.295C157.845 110.28 161.057 107.025 165.018 107.025H183.984C186.956 107.025 189.367 104.581 189.367 101.568V80.529C189.367 77.516 186.956 75.072 183.984 75.072H165.265C161.303 75.072 158.092 71.817 158.092 67.802H158.094Z" fill="white"/>
          <path d="M360.835 43C394.486 43 410.167 58.8023 410.167 84.086C410.167 111.828 390.786 125.349 360.835 125.349L321.899 125.173V171H296V43H360.835ZM623.204 171H595.015L583.21 143.434H515.732L503.928 171H476.091L532.822 43H566.297L623.204 171ZM738 100.24H738.961L776.841 43H806.26L751.471 121.661V171H725.49V121.661L670.697 43H700.12L738 100.24ZM1000.87 171H973.03L961.23 143.434H893.75L881.95 171H853.76L910.66 43H944.14L1000.87 171ZM1180.96 171H1155.06V125.173L1116.13 125.349C1086.17 125.349 1066.79 111.828 1066.79 84.086C1066.79 58.8023 1082.48 43 1116.13 43H1180.96V171ZM543.04 79.521L523.308 124.119H575.986L556.078 79.521L550.088 64.245H549.03L543.04 79.521ZM920.88 79.521L900.97 124.119H953.65L933.92 79.521L927.93 64.245H926.87L920.88 79.521ZM321.899 106.562L358.192 106.736C375.811 106.736 384.092 98.484 384.092 84.964C384.092 70.215 374.225 63.367 358.192 63.367H321.899V106.562ZM1118.77 63.367C1102.74 63.367 1092.87 70.215 1092.87 84.964C1092.87 98.484 1101.15 106.736 1118.77 106.736L1155.06 106.562V63.367H1118.77Z" fill="white"/>
        </g>
      </svg>
    </div>

    <h1
      class="text-3xl md:text-4xl lg:text-5xl font-semibold tracking-tight leading-tight text-white mb-0 mt-0"
    >
      {title}
    </h1>
  </div>
</header>
