---
const { heading = 'Attributes' } = Astro.props;
---

<div data-attributes class="my-6">
  <div class="not-prose flex items-center justify-between py-2">
    <h3 class="type-subtitle-1">{ heading }</h3>
  </div>
  <ul
    role="list"
    class="mt-0 list-none prose-li:m-0 divide-outline-transparent p-0"
  >
    <slot />
  </ul>
</div>
