---
const { heading = 'Attributes' } = Astro.props;
---

<div data-attributes class="my-6">
  <div class="not-prose flex items-center justify-between py-2">
    <h3 class="type-subtitle-1">{ heading }</h3>
  </div>
  <ul
    role="list"
    class="m-0 list-none divide-y divide-outline-transparent border-y border-outline-transparent p-0 pt-4"
  >
    <slot />
  </ul>
</div>
