
---
import Badge from '../components/Badge.astro';

const { name, type, required, experimental, error } = Astro.props;
const customDataTypes = ['timestamp', 'bignumber', 'monetary', 'crn', 'location', 'phonenumber'];
const formattedType = type.toLowerCase();
const link = customDataTypes.includes(formattedType) ? '/api/data-types#' + formattedType :undefined;
---

<li class="m-0 px-0 py-4 first:pt-0 last:pb-0">
  <dl class="m-0 flex flex-wrap items-center gap-x-3 gap-y-2">
    <dt class="sr-only">
      Name
    </dt>
    <dd>
      {name}
    </dd>
    <dt class="sr-only">Type</dt>
    <dd>
      <Badge text={ error ? type : formattedType} link={link}>
    </dd>
    { required &&
      <dt class="sr-only">Required</dt>
      <dd> <Badge type="required"> </dd> }
    { experimental &&
      <dt class="sr-only">Experimental</dt>
      <dd> <Badge type="experimental"> </dd> }
    <dt class="sr-only">
      Description
    </dt>
    <dd class="w-full flex-none [&>:first-child]:mt-0 [&>:last-child]:mb-0">
      <slot />
    </dd>
  </dl>
</li>
