
---
import Badge from '../components/Badge.astro';

const { name, type, required, experimental, deprecated } = Astro.props;
const customDataTypes = ['timestamp', 'bignumber', 'monetary', 'crn', 'location', 'phonenumber'];
const formattedType = type.toLowerCase();
const link = customDataTypes.includes(formattedType) ? '/api/data-types#' + formattedType : undefined;
---

<li class="m-0 px-0 py-4 first:pt-0">
  <div class="m-0 flex flex-wrap items-center gap-x-3">
    <h4 class="my-0" id={name}>{name}</h4>
    <Badge text={formattedType} link={link} />
    { required && <Badge type="required" /> }
    { experimental && <Badge type="experimental" /> }
    { deprecated && <Badge type="deprecated" /> }
  </div>
  <div data-expandable-slot class="w-full flex-none [&>:first-child]:mt-0 [&>:last-child]:mb-0 transition-opacity duration-500 expanded">
    <slot />
  </div>
</li>
