---
/* eslint-disable tailwindcss/no-custom-classname */
---
<div
  class="
    prose-headings:font-display prose prose-slate
    max-w-none prose-headings:font-normal
    prose-h2:mt-8 prose-h2:scroll-mt-16 prose-h2:border-t prose-h2:pt-8
    prose-h3:scroll-mt-20
    prose-h4:scroll-mt-20
    prose-a:text-content-primary
    prose-a:no-underline hover:prose-a:no-underline prose-img:mx-auto
    prose-img:mb-8 prose-img:object-contain prose-lead:text-slate-500
  "
>
  <slot />
</div>
