---
import BaseLayout from '../layouts/BaseLayout.astro';
import Prose from '../components/Prose.astro';

const { title, description, img } = Astro.props;
---
<BaseLayout title={title} description={description} img={img}>
  <div>
    <slot name="header" />
    <div>
      <div class="desktop-gutters relative mx-auto flex justify-center">
        <div class="min-w-0 max-w-2xl flex-auto px-8 pb-16 pt-8 lg:max-w-none xl:pt-16">
          <article>
            <h2 class="type-headline-2 mb-12">
              Overview
            </h2>
            <Prose slot="content">
              <slot name="content" />
            </Prose>
          </article>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
