---
import ConnectionLayout from '../layouts/ConnectionLayout.astro';
import Farmlands from '../components/Farmlands.astro';
const { title, description, img, navigation } = Astro.props;
---
<ConnectionLayout title={title} description={description} img={img} navigation={navigation}>
  <div slot="header">
    <Farmlands />
  </div>
  <div slot="content">
    <slot />
  </div>
</ConnectionLayout>
